<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 f-slug" >
          <div class="footer-slug">
            <div class="row">
              <div class="col-lg-3 f-logo">
                <div class="footer-logo">
                  <img src="/img/program surface logo.png" alt="">
                </div>
              </div>
              <div class="col-lg-9 f-name">
                <div class="footer-name">
                  <h4>Program surface</h4>
                  <p>A club of National Institute of Engineering & Technology.</p>
                  <address>
                    <p><i class="fa-solid fa-location-dot"></i> Rupshi, Rupganj, Narayanganj.</p>
                    <p><i class="fa-solid fa-envelope"></i> <a href="mailto:programsurface@gmail.com">programsurface@gmail.com</a></p>
                    <p><i class="fa-solid fa-square-phone"></i> <a href="tel:+8801625884716">+8801625884716</a> | <a href="tel:">+8801999887777</a></p>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="footer-content">
            <address>
              <p><i class="fa-solid fa-location-dot"></i> Rupshi, Rupganj, Narayanganj.</p>
              <p><i class="fa-solid fa-envelope"></i> <a href="mailto:programsurface@gmail.com">programsurface@gmail.com</a></p>
              <p><i class="fa-solid fa-square-phone"></i> <a href="tel:+8801625884716">+8801625884716</a> | <a href="tel:+8801648273347">+8801648273347</a></p>
            </address>
           
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>