<%- include("./layouts/header.ejs"); %>
<div class="roadmaps">
  <div class="roadmap-hero">
    <div class="container">
      <p class="roadmap-explain">
        <span>Web development</span> is the building and maintenance of
        websites; it’s the work that happens behind the scenes to make a website
        look great, work fast and perform well with a seamless user experience.
        Web developers, or ‘devs’, do this by using a variety of coding
        languages. The languages they use depends on the types of tasks they are
        preforming and the platforms on which they are working. <br />
        <br />
        Web development skills are in high demand worldwide and well paid too –
        making development a great career option. It is one of the easiest
        accessible higher paid fields as you do not need a traditional
        university degree to become qualified. The field of web development is
        generally broken down into front-end (the user-facing side) and back-end
        (the server side).
      </p>
    </div>
  </div>
  <div class="roadmap-typesof">
    <div class="container">
      <div class="rm-section-heading">
        <h2>Types of Web Development</h2>
        <p>
          There are three main types of web development: front-end development,
          back-end development, and full-stack development.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="roadmap-items">
            <div class="roadmap-items-thumb">
              <img src="/img/frontend.jpg" alt="" />
            </div>
            <div class="roadmap-items-content">
              <h3>Frontend Development</h3>
              <p>
                A front-end dev takes care of layout, design and interactivity
                using HTML, CSS and JavaScript. They take an idea from the
                drawing board and turn it into reality.
                <br />
                <br />
                What you see and what you use, such as the visual aspect of the
                website, the drop down menus and the text, are all brought
                together by the front-end dev, who writes a series of programmes
                to bind and structure the elements, make them look good and add
                interactivity. These programmes are run through a browser.
                <br /><br />
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="roadmap-items">
            <div class="roadmap-items-thumb">
              <img src="/img/backend.jpg" alt="" />
            </div>
            <div class="roadmap-items-content">
              <h3>Backend Development</h3>
              <p>
                The backend developer engineers what is going on behind the
                scenes. This is where the data is stored, and without this data,
                there would be no frontend. The backend of the web consists of
                the server that hosts the website, an application for running it
                and a database to contain the data. <br /><br />

                The backend dev uses computer programmes to ensure that the
                server, the application and the database run smoothly together.
                This type of dev need to analyse what a company’s needs are and
                provide efficient programming solutions. To do all this amazing
                stuff they use a variety of server-side languages, like
                JavaScript, PHP, Ruby, Python and Java.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wd roadmap -->
  <%- include("./layouts/roadmaps/webDevelopment.ejs"); %>
</div>
<%- include("./layouts/footer.ejs"); %>
