<!-- machine learning roadmap -->
<div class="roadmap">
  <div class="page-title">
    <h2>Machine Learning Roadmap</h2>
  </div>
  <div class="container">
    <div class="roadmap-content">
      <!-- First items  -->
      <ul class="roadmap-first">
        <!-- Python -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Python
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Basics of Python
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Syntax
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Control Statement
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Loop
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Functional Programming
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            OOP in Python
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Class & Object
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Inheritance
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Polymorphism
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Encapsulation
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Abstraction
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Advance Topics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                File Handling
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Exception Handling
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Regular Expressions (mostly required in NLP)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Basics of Flask/Django (web projects)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Streamlit
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Gradio
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Basic of Tkinter (gui based application)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                BeautifulSoap (web scraping)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                FastApi & Postman (working with api)
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn Numpy
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn Pandas
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Learn Data Visualization
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Matplotlib
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Seaborn
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Poltly
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Practice Problems
          </li>
        </ul>

        <!-- SQL -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          SQL
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i> Understanding Basic
            Strucutre Of SQL Table
          </li>
          <li><i class="fa-regular fa-circle-check"></i> Comment</li>
          <li><i class="fa-regular fa-circle-check"></i> Database Keys</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Entity Relationship
            Diagram
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Cardinality of
            relationship
          </li>
          <li><i class="fa-regular fa-circle-check"></i> Data Types</li>
          <li><i class="fa-regular fa-circle-check"></i> Operator</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> SQL Table & Columns
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Data Integrity &
            Constraints
          </li>
          <li><i class="fa-regular fa-circle-check"></i> SQL Wildcard</li>
          <li><i class="fa-regular fa-circle-check"></i> SQL Function</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Soritng Data & Grouping
            Data
          </li>
          <li><i class="fa-regular fa-circle-check"></i> SQL Join</li>
          <li><i class="fa-regular fa-circle-check"></i> SQL Union</li>
        </ul>

        <!-- Mathematics -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Mathematics (basic)
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Statistics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Descriptive Statistics
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Inferential Statistics
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Advance Statistics
                <ul>
                  <li><i class="fa-regular fa-circle-check"></i> Covariance</li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Pearson
                    Correlation Coefficient
                  </li>
                  <li><i class="fa-regular fa-circle-check"></i> QQ Plot</li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Confidence
                    Interval
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Hypothesis
                    Testing
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Chisquare Test,
                    Anova Test
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Probability Basics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Conditional Probability
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Independent & Dependent Events
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Bayes Theorem
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Uniform Distribution
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Binomial Distribution
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Bernaulli Distribution
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Poission Distribution
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Linear Algebra Basics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Representing Tabular Data
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Vectors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Matrices
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Matrix Multiplication
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Equation of line in N-dim
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Eigen Vector and Eigen Values
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Learn Calculus Basics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Big Picture of Derivatives
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Maxima and Minima
              </li>
            </ul>
          </li>
        </ul>

        <!-- Data Processing -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Data Processing
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Data Acquisition
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Downloading data from Kaggle
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Ftech data from API
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Pull data from Database
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn Data Preprocessing
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Learn Exploratory Data Analysis (EDA)
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Understanding your data
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Univariate Analysis
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Bivariate and Multivariate Analysis
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Automated EDA (Pandas Profiling, Dataprep)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on House Prices Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Titanic Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Haberman's Survival Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Heart Disease Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on IPL Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Wine Review Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on PIMA Diabetes Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Breast Cancer Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Olympics Dataset
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                EDA on Covid Data
              </li>
            </ul>
          </li>
        </ul>

        <!-- Feature Engineering -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Feature Engineering
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Feature Transformation
            <ul class="roadmap-third">
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Encoding Variable
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Encode
                    Categorical Variable (Nominal -> One Hot Encoding, Ordinal
                    -> Ordinal Encoding and Label Encoding)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Encoding
                    Numerical Variable (Binning, Binarization)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Feature Scaling
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Standardization
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Noramlization
                    (MinMaxScaling,Mean Normalization, Robust Scaling)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Handling Outlier
                <ul>
                  <li><i class="fa-regular fa-circle-check"></i> Trimming</li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Capping (Z Score,
                    IQR, Percentile)
                  </li>
                  <li><i class="fa-regular fa-circle-check"></i> Imputing</li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Handling Missing Data
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Numerical
                    Variables (Mean or median imputation, Arbitrary value
                    imputation, End of tail imputation)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Categorical
                    Variables (Frequent category imputation, Add a missing
                    category)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Hybrid (Complete case analysis, Random sample imputation)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Multivariate (KNN Imputer, Interative Imputer)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Variable Transformation
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Function
                    Transformer (Logarithmic transformation, Square root
                    transformation, Reciprocal transformation, Power
                    transformation)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Power Transformer
                    (Box-Cox transformation, Yeo-Johnson transformation)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Handling Mixed Variable
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Handling Date Time Variable
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Handling Geospatial Data
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Kaggle Notebooks and Practice Datasets
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Feature Construction
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Feature Extraction
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Feature Selection
            <ul>
              <li>
                <i class="fa-regular fa-circle-check"></i> Filter Method
                (Pearson Correlation Coefficient, Spearman’s Rank Correlation
                Coefficient, Kendall’s Rank Correlation Coefficient)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Wrapper Method
                (Forward Feature Selection, Backward Feature Elimination,
                Exhaustive Feature Selection, Recursive Feature Elimination)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Embedded Methods
                (Regularization, Feature Importance)
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Automated Feature Engineering
            <ul>
              <li><i class="fa-regular fa-circle-check"></i> FeatureTools</li>
              <li><i class="fa-regular fa-circle-check"></i> AutoFeat</li>
            </ul>
          </li>
        </ul>

        <!-- Machine Learning Algorithms -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Machine Learning Algorithms
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Learn Machine Learning Basics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What is Machine Learning?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                AI vs ML vs DL
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Types of Machine Learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Batch Machine Learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Online Machine Learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Instance based vs Model based learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Challenges in Machine Learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Applications of Machine Learning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Machine Learning Development Lifecycle
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Data Engineer Vs Data Analyst Vs Data Scientist Vs ML Engineer
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                How to frame a Machine Learning problem?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Installing and using software for data science
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Building an End to End Machine Learning Project Qucik overview
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What are Tensors?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                How to work with CSV files
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Machine Learning Algo
            <ul>
              <li>
                <i class="fa-solid fa-caret-right"></i> Linear Regression
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Simple Linear
                    Regression
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Multiple Linear
                    Regression
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Regression
                    Metrics (MAE, MSE, RMSE, R2 Square, Adjusted R2 Square)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Polynomial
                    Regression
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Regularization
                    (Ridge, Lasso, ElasticNet)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Gradient Descent
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Batch gradient
                    descent
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Stochastic
                    gradient descent
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Mini-batch
                    gradient descent
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Logistic Regression
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Logistic
                    Regression using Perceptron
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Logistic
                    Regression using Softmax
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Classification
                    Metrics (Confusion matrix, Accuracy, Precision, Recall,
                    F-measure, ROC and AUC Curve)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Support Vector Machines
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Hard margin &
                    Soft margin SVM
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> SVR for Rgression
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> SVC for
                    Classification
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Kernel Trick for
                    Non linear data (RBF Kernel, Polynomial Kernel)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Naive Bayes
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Multinomial Naive
                    Bayes
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Gaussian Naive
                    Bayes
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Bernoulli Naive
                    Bayes
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> K Nearest Neighbors
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> KNN Classifier
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> KNN Regressor
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Decision Trees
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Decision Tree
                    Classifier
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Decision Tree
                    Regressor
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Ensemble Learning
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Voting Ensemble
                    (Voting Classifier, Voting Regressor)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Bagging Ensemble
                    (Bagging Classifer, Bagging Regressor, Random Forest )
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Boosting
                    (Adaptive Boosting, Gradient Boosting, Xtreme Gradient
                    Boosting, Others (LighGBM, CatBoost) )
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Stacking and
                    Blending
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Clustering
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> KMeans Clustering
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Heirarchical
                    Clustering
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Density-based
                    Spatial Clustering of Applications With Noise (DBScan)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Dimensionality Reduction
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Principal
                    Component Analysis (PCA)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Linear
                    Discriminant Analysis (LDA)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> t-Distributed
                    Stochastic Neighbor Embedding (t-SNE)
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Anomaly Detection
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Anomaly detection
                    using Isolation Forest
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Anomaly detection
                    usning PyCaret
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i> Association Rule
                Learning
                <ul>
                  <li><i class="fa-regular fa-circle-check"></i> Apriori</li>
                  <li><i class="fa-regular fa-circle-check"></i> ECLAT</li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Frequent Pattern
                    (FP)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i> Market Basket
                    Analysis
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Improve Machine Learning Algorithms
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Bias Variance Tradeoff
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Regularization
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Cross Validation
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Leave 1 Out Cross Validation
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Holdout Method
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    K-Fold Cross Validation
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    StratifiedKFold Cross Validation
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Hyperparameter Tunning
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    GridSearchCV
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    RandomSearchCV
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Bayesian Optimization
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Additional Topics -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Additional Topics
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with Pipelines
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Column Transformer
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Sklearn Pipelines
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with imbalanced data
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Oversampling (Random Oversampling, SMOTE Oversampling, ADASYN
                Oversampling)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Undersampling (Random Undersampling, NearMiss Undersampling,
                TomekLinks Undersampling)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Hybrid Sampling (SMOTEENN Sampling, SMOTETomek Sampling)
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Handling Multicollinearity
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What is Multicollinearity
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                The correlation coefficient (or correlation matrix) between
                independent variables
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Variance Inflation Factor (VIF)
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Data Leakage
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What is Data Leakage?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Leaky Predictors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Leaky Validation
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with Large Datasets
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Out of core ML (Sub Sampling, Incremental Learning)
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Dask
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Vaex
              </li>
            </ul>
          </li>
        </ul>

        <!-- Depolyment -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Depolyment
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Serving your model
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Pickling your model
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Depoly model using Streamlit
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Deploy model on Heroku
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Deploy model on AWS
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Deploy model to GCP
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Deploy model to Azure
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Serve model as API using FastAPI
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                ML model to Android App
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                ML Model to Desktop App
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                ML in Edge Device using Tflite
              </li>
            </ul>
          </li>
        </ul>

        <!-- Auto ML -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Auto ML
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Serving your model
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Auto Gluon
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            TPOT
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Amazon SageMaker Autopilot
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Google Cloud AutoML
          </li>
        </ul>

        <!-- Recommendation Systems -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Recommendation Systems
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Content Based Filtering
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Collaborative Filtering
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Hybrid
          </li>
        </ul>
        <!-- Machne Learning System Design -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Machne Learning System Design
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Machine Learning System Design
          </li>
        </ul>

        <!-- ML Projects -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          ML Projects
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Bike Sharing Demand Prediction
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Heart Disease Prediction
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Understanding Buying Behavior User
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Customer Churn Rate Prediction
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            House Price Prediction
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Credit Card Fraud Detection
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Customer Segmentation
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Car Price Prediction
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
