<!-- Wd roadmap -->
<div class="roadmap">
  <div class="page-title">
    <h2>Web Development Roadmap</h2>
  </div>
  <div class="container">
    <div class="roadmap-content">
      <!-- First items  -->
      <ul class="roadmap-first">
        <!-- HTML -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          HTML
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li><i class="fa-regular fa-circle-check"></i> Learn the basics</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Forms and validations
          </li>
          <li><i class="fa-regular fa-circle-check"></i> Accessibility</li>
          <li><i class="fa-regular fa-circle-check"></i> SEO Basics</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Conventions and Best
            Practices
          </li>
        </ul>

        <!-- CSS -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          CSS
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn the basics
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Making Layouts
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Floats
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Positioning
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Display
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Box Model
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                CSS Grid
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Flex Box
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Responsive design and Media Queries
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> CSS Frameworks
            <ul class="roadmap-third">
              <li><i class="fa-regular fa-circle-check"></i> Bootstrap</li>
              <li><i class="fa-regular fa-circle-check"></i> Tailwind CSS</li>
            </ul>
          </li>
        </ul>

        <!-- JavaScript -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          JavaScript
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Introduction to JavaScript
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What is JavaScript?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                History of JavaScript
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                JavaScript Versions
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                How to run JavaScript?
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Syntax and Basic Constructs
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i>
            All About Variables
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Variable Declarations
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Hoisting
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Variable Naming Rules
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Variable Scopes
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Data Types
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Type Casting
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Data Structures
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Equality Comparisons
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Loops and Iterations
            <ul class="roadmap-third">
              <li><i class="fa-regular fa-circle-check"></i> for statement</li>
              <li>
                <i class="fa-regular fa-circle-check"></i> do...while statement
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> while statement
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> for...in statement
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> for...of statement
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> break / continue
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Control Flow
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i> Conditional
                Statements
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Exception Handling
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Expressions and Operators
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i> Assignment Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Comparison Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Arithmetic Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Bitwise Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Logical Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> BigInt Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> String Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Conditional Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Comma Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Unary Operators
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Relational Operators
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Functions
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i> Function Parameters
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Arrow Functions
              </li>
              <li><i class="fa-regular fa-circle-check"></i> IIFEs</li>
              <li>
                <i class="fa-regular fa-circle-check"></i> arguments object
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Scope & Function
                Stack
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Built-in Functions
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn DOM Manipulation
          </li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Asynchronous JavaScript
            <ul class="roadmap-third">
              <li><i class="fa-regular fa-circle-check"></i> setTimeout</li>
              <li><i class="fa-regular fa-circle-check"></i> setInterval</li>
              <li><i class="fa-regular fa-circle-check"></i> Callbacks</li>
              <li><i class="fa-regular fa-circle-check"></i> Promises</li>
            </ul>
          </li>
          <li><i class="fa-regular fa-circle-check"></i> Classes</li>
          <li>
            <i class="fa-solid fa-caret-right"></i> Modules in JavaScript
            <ul class="roadmap-third">
              <li><i class="fa-regular fa-circle-check"></i> CommonJs</li>
              <li>
                <i class="fa-regular fa-circle-check"></i> ECMAScript Modules
              </li>
            </ul>
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            Learn Fetch API / Ajax (XHR)
          </li>
          <li>
            <i class="fa-regular fa-circle-check"></i>
            ES6+ and modular JavaScript
          </li>
          <li><i class="fa-regular fa-circle-check"></i> Memory Management</li>
        </ul>

        <!-- Version control -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          Version control systems
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li><i class="fa-regular fa-circle-check"></i> Basic Usage of Git</li>
          <li>
            <i class="fa-regular fa-circle-check"></i> Create account and Learn
            to use GitHub
          </li>
        </ul>

        <!-- React -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          ReactJS
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Fundamental Topics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Create React App
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                JSX
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Components
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Props vs State
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Conditional Rendering
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Component Life Cycle
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Lists and Keys
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Composition vs Inheritance
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Basic Hooks
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Advanced Topics
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Hooks
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Context
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Refs
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Render Props
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                High Order Components
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Portals
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Error Boundaries
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Fiber Architecture
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Ecosystem
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Routers
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                SSR
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                SSG
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                API Calls
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Forms
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Testing
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                State Management
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Styling
              </li>
            </ul>
          </li>
        </ul>

        <!-- Nodejs -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          NodeJs
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Introduction to Node.js
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                What is Node.js?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Why use Node.js?
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                History of Node.js
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Node.js vs Browser
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Running Node.js Code
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Modules
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Common JS
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                ESM
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Create Custom Modules
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                [global] Keyword
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            npm
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Updating Packages
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Using Installed Packages
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Running Scripts
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                npm workspaces
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Error Handling
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                JavaScript Errors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                System Errors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                User Specified Errors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Assertion Errors
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Call Stack & Stack Trace
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Using Debugger
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Asynchronous Programming
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Promises
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                async / await
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Callbacks
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                setTimeout
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                setInterval
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                setImmediate
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                process.nextTick
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with Files
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                process.cwd()
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                path module
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                fs module
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                __dirname
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                __filename
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Command Line Apps
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Environment Variables
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Command Line Args
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Exitting & Exit Codes
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Taking Input
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Printing Output
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with APIs
            <ul class="roadmap-third">
              <li>
                <i class="fa-solid fa-caret-right"></i>
                HTTP Server
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    fastify framework
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Nestjs framework
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Express.js framework
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    http module
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Making API Calls
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    http module
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    axios package
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    unfetch package
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    got package
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Authentication
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    jsonwebtoken package
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Passport.js package
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Working with Databases
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Mongoose package
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Keeping Application Running
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                nodemon package
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Templating Engines
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                ejs
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                pug
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                marko
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Common Built-in Modules
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                fs
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                os
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                net
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                path
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                url
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                events
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                http
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                console
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                assert
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                process
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                cluster
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                perf_hooks
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                crypto
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Buffer
              </li>
            </ul>
          </li>
        </ul>

        <!-- MongoDB -->
        <li class="roadmap-first-items">
          <i class="fa-solid fa-caret-right"></i>
          MongoDB
        </li>
        <!-- second items  -->
        <ul class="roadmap-second">
          <li>
            <i class="fa-solid fa-caret-right"></i>
            Basic Database Skills
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Data models, Data Schemas and Data Independence
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Relational model and Entity-Relationship Model
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Normalization, Joins, SQL & NoSQL
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Indexing, Hashing, Transaction & Concurrency
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            Database Drivers
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                Mongoose
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            GUI Client Tools
            <ul class="roadmap-third">
              <li>
                <i class="fa-regular fa-circle-check"></i>
                MongoDB Compass
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            MongoDB Concepts
            <ul class="roadmap-third">
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Databases
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Collections
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Views
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                MongoDB CRUD Operations
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Create Operations
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Read Operations
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Update Operations
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Delete Operations
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Aggregation
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Aggregation Pipeline
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Map-Reduce
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Single Purpose Aggregation Operations
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Data Models
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Data Model Design
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Schema Validation
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Model Relationship between Documents. One to One & One to
                    Many
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Data Model References
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-regular fa-circle-check"></i> Transaction and
                Atomicity
              </li>
              <li><i class="fa-regular fa-circle-check"></i> Indexes</li>
              <li><i class="fa-regular fa-circle-check"></i> Replication</li>
              <li><i class="fa-regular fa-circle-check"></i> Sharding</li>
              <li><i class="fa-regular fa-circle-check"></i> Storage</li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Operators
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Query and Projection Operators
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Update Operators
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Aggregation Pipeline Stages
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Aggregation Pipeline Operators
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Query Modifiers
                  </li>
                </ul>
              </li>

              <li>
                <i class="fa-solid fa-caret-right"></i>
                Security
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Enable Access Control & Enforce Authentication
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Configure Role-Based Access Control
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Limit Network Exposure
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Run MongoDB with a Dedicated User
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Encrypt Communication (TLS/SSL)
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Audit System Activity
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Encrypt and Protect Data
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <i class="fa-solid fa-caret-right"></i>
            MongoDB Hosting
            <ul class="roadmap-third">
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Self Hosted
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    AWS
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Digital Ocean
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Microsoft Azure
                  </li>
                </ul>
              </li>
              <li>
                <i class="fa-solid fa-caret-right"></i>
                Managed Hosting
                <ul>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    MongoDB Atlas
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    mLab
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Clever Cloud
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Compose
                  </li>
                  <li>
                    <i class="fa-regular fa-circle-check"></i>
                    Object Rocket
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
